.censored-words {
    padding: 0;
    list-style-type: none;
}

    .censored-words li {
        display: inline-block;
    }

    .censored-words li:after {
        content: ',';
        margin-right: 5px;
    }