{% extends "base.html" %}

{% block content %}
    <form action="/admin" method="post" novalidate>
        {{ loginForm.hidden_tag() }}

        <p>
            {{ loginForm.username.label }}<br>
            {{ loginForm.username(size=32) }}<br>
            {% for error in loginForm.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ loginForm.password.label }}<br>
            {{ loginForm.password(size=32) }}<br>
            {% for error in loginForm.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}            
        </p>

        <p>{{ loginForm.submit() }}</p>
    </form>
{% endblock %}
