{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul id='flashMessages'>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for item in searchers %}
        <table border=1 width='100%'>
            <tr>
                <td width='20%'>{{ item[1] }}</td>
                <td width='80%'>{{ item[2] }}</td>
            </tr>
        </table> 
    {% endfor %}

    <form action="/admin" method="post" novalidate>
        {{ add_searcher_form.hidden_tag() }}

        <p>
            {{ add_searcher_form.searcher.label }}<br>
            {{ add_searcher_form.searcher }}<br>
            {% for error in add_searcher_form.searcher.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ add_searcher_form.address.label }}<br>
            {{ add_searcher_form.address }}<br>
            {% for error in add_searcher_form.address.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}            
        </p>

        <p>{{ add_searcher_form.submit() }}</p>
    </form>

    <br>
    <hr>
    <br>

    <ul class="censored-words">
        {% for item in censored_words %}
            <li>{{ item[1] }}</il>
        {% endfor %}
    </ul>



    <form action="/admin" method="post" novalidate>
        {{ add_censored_word_form.hidden_tag() }}

        <p>
            {{ add_censored_word_form.censored_word.label }}<br>
            {{ add_censored_word_form.censored_word }}<br>
            {% for error in add_censored_word_form.censored_word.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ add_censored_word_form.submit() }}</p>
    </form>    
{% endblock %}
