<html>
    <head>
        <title>{{ title }}</title>
        <script src='static/index.js'></script>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>

    <body>
        <nav>
            <a href="/search">Поиск</a>
            <a href="/queries">Запросы</a>
            <a href="/info">Инфо</a>
            <a href="/admin">Админка</a>
            {% if not current_user.is_anonymous %}
                <a href="/logout">(выйти)</a>
            {% endif %}
        </nav>

        <br>
        <br>
        
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>