{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('search') }}" method="POST" novalidate>
        {{ search_form.csrf_token }}

        <div>
            {{ search_form.searcher }}
            {{ search_form.query }}
            {{ search_form.submit() }}
        </div>

        <div>
            {% for error in search_form.query.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %} 
        </div>
    </form>

    <br>
    <hr>
    <br>

    {% if search_results %}
        {% for result in search_results %}
            {{ result | safe }}
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}